spring:
  config:
    activate:
      on-profile: local


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    url: jdbc:mysql://localhost:3307/dibs?serverTimezone=UTC&useSSL=false&createDatabaseIfNotExist=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  data:
    redis:
      host: localhost
      port: 6380

logging:
  level:
    org.springframework.web: DEBUG
    com.imjjh.Dibs: DEBUG
